[Unit]
Description=Mount unit for ubuntu-desktop-installer, revision 714
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/ubuntu-desktop-installer_714.snap
Where=/snap/ubuntu-desktop-installer/714
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=default.target multi-user.target
